.header {
  overflow: hidden;
  background: darkgrey;
  height: auto;
  color: white;
}

.header a {
  float: left;
  padding: 12px;
  font-size: 35px;
  font-weight: bold;
}

.header-right {
  overflow: hidden;
  background: darkgrey;
}

.header-right a {
  float: right;
  color: white;
  padding: 30px 16px;
  font-size: 15px;
}

.card-img {
  width: 200px;
  height: 200px;
}

body {
  background: black;
  color:black;
}
